.containerEndereco {
    display: flex;
    flex-direction: column;
    background-color: #5C554B;
    justify-content: center;
    padding: 30px;
}

.containerEndereco h1 {
    color: white;
}

.containerEndereco p {
    color: white;
}